h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: centered;
  background-color: black;
}

h3 {
  color: aquamarine;
  font-size: 16px;
  text-align: centered;
}

body {
  text-align: centered;
}

html {
  background: black;
}

h2 {
  text-align: centered;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h4 {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
